body {
    background-image: url("../images/form.png");
    background-repeat: no-repeat;
    background-size: cover;
    }

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    margin: 2vw;
}

.col-sm-7{
    padding: 3vw 4vw 0;
    background-color: whitesmoke;
    border-radius:20px;
    box-shadow: 0 2px 4px dimgrey;
}

.col-sm-7 h3{
    color: #115286;
}

.form-control {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #115286;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

form-control::placeholder {
    font-style: italic;
    border: 2px solid #115286;
}

#add_new_odontologo{
    padding: 2vw 0;
}

.btn_form{
    background-color: #115286;
    color: whitesmoke;
    padding: 0.8vw 1vw;
    border: none;
    border-radius: 10px;
    margin: 1vw 0 3vw;
}

.btn_form:hover{
    background-color: whitesmoke;
    color: #115286;
    transition-duration: 1s;
    border: 2px solid #115286;
}