body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header{
    background: #115286;
}

.navbar{
    text-indent: 20pt;
}

img.logo{
    width: 15vw;
    padding: 3% 0%
}

.btn_logout{
    border: 1px solid #115286;
    border-radius: 20px;
    padding: 0.5vw 1.5vw;
    color: #115286;
    text-align: center;
    margin-left: 50px;
}

.btn_logout:hover  {
    transition-duration: 1s;
    background-color: #115286;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

.carrusel{
    width: 100%;
    height: 90%;
}

h2{
    font-size: 4.5vw;
    color: whitesmoke;
    text-shadow: 2px 2px 2px dimgrey;
}

.carousel-item a{
    text-decoration: none;
}

.carousel-item button {
    border: 1px solid whitesmoke;
    border-radius: 20px;
    box-shadow:1px 1px 1px dimgrey;
    padding: 0.7vw 1.5vw;
    margin: 1vw 0 2vw 0;
    color: #115286;
    font-size: 1.5vw;
}

.carousel-item button:hover  {
    transition-duration: 1s;
    background-color: #115286;
    color: whitesmoke;
    border-color: #115286;
}

.carousel-item button a{
    text-decoration-line: none;
}

footer{
    background-color: #115286;
    padding: 1.5vw 0 0.5vw;
    text-align: center;
    color: white;
    margin-top: auto;
}

footer a{
    color: whitesmoke;
}

